footer {
  background-color: #211f2a;
}

.footerContainer {
  height: 150px;
}

.footerContainer > * {
  margin: 5px;
}

footer .icon {
  position: absolute;
}

footer .icon a img {
  height: 70px;
}

.footerMenu {
  text-align: center;
}

.footerMenu ul li {
  list-style-type: none;
  margin: 15px;
}

.footerMenu ul li a {
  color: #ffffff;
}

.footerMenu {
  text-align: center;
}
