.welcomeBlock {
  background-image: url("../pablic/header-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  min-height: 500px;
}

.welcomContext h2 {
  font-size: 2.1em;
}

.welcomContext p {
  padding-right: 6em;
}

.formItem > input,
.formItem > button {
  border: none;
  outline: none;
  height: 3em;
  border-radius: 0;
}

.formItem > button {
  background-color: #d51522;
}


.formItem > button > span {
    font-size: 0.9em;
    font-weight: 400;
}

.formItem > input {
  -webkit-box-shadow: inset 2px 0px 5px 0px black;
  box-shadow: inset 2px 0px 5px 0px black;
}

.formItem > input::-webkit-input-placeholder {
  color: #9a9a9a;
}

.formItem > input::-moz-placeholder {
  color: #9a9a9a;
}

.formItem > input:-ms-input-placeholder {
  color: #9a9a9a;
}

.formItem > input::-ms-input-placeholder {
  color: #9a9a9a;
}

.formItem > input::placeholder {
  color: #9a9a9a;
}
