.newsSlider {
  overflow: hidden;
  position: relative;
}

.bgNews {
  position: absolute;
  width: 100%;
}

.bgNews > div {
  width: calc(100% / 3);
  height: 13rem;
  margin: 1em;
}

.bgNews.first > div:first-child {
  background-color: #d51522;
}

.bgNews.last > div:last-child {
  background-color: #6f61a0;
}

.newsBlock {
  width: 300%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: inherit;
}

.newBlock {
  border: #9a9a9a 1px solid;
  background-color: #ffffff;
  width: calc(100% / 3);
}

.date {
  color: #9a9a9a;
  font-size: 0.8rem;
  height: 1.5rem;
}

.newTitle {
  font-weight: 600;
  font-size: 1rem;
  height: 6rem;
  max-width: 280px;
}

.newBlock button {
  outline: none;
  background-color: #ffffff;
  border-radius: 0;
  width: 100%;
  max-width: 8em;
  border-color: #d51522;
  color: #d51522;
}

.newBlock button:hover {
  background-color: #d51522;
}


.newBlock button span {
  font-size: 0.8em;
  font-weight: 500;
}


.rNews {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .sliderContaner {
  margin-left: 0;
}
#r2:checked ~ .sliderContaner {
  margin-left: -100%;
}
#r3:checked ~ .sliderContaner {
  margin-left: -200%;
}

.newsNav {
  margin-bottom: 4rem;
}

.newsNav > label {
  width: 10px;
  height: 10px;
  border: 2px solid #cacaca;
  border-radius: 50%;
  background-color: #cacaca;
  margin: 8px;
  margin-top: 12px;
  cursor: pointer;
}
